exten => 1111,1,NoOp(Playing message - XyBot example)
same => n,Answer()
same => n,Set(PLAYMSG=${DB(asterisk/playmsg)})
same => n,GotoIf($["${LEN(${PLAYMSG})}" = "1"]?playmsg:queue)
same => n(playmsg),Playback(technical_difficulties)
same => n(queue),Queue(myqueue)
